.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F5F5F5;

}

.app-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 20%;
  /* border-right: 1px solid #ddd; */
  border-radius: 0.375rem;
  padding: 10px;
}
.sidebar h3{
  border-radius: 0.375rem;
  background-color: #ffffff;
  padding: 10px;
}

.main-view {
  width: 80%;
  flex-grow: 1;
  padding: 10px;
  max-height: 90vh;
  overflow-y: scroll;

}
